main{
    position: absolute;
    width: 100%;
    height: 560px;
    left: 0;
    top: 116px;
    background:url("/img/flowers_RL.png") center;
    background-size: cover;
}

footer{
    left: 0px;
    top: 676px;
}

.information, .actions{
    position: absolute;
    top: 125px;
}

.information{
    width: 387px;
    height: 189.92px;
    left: 164px;
}
.information h2{
    margin-left: 0;
    margin-top: 0;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 29px;
    text-align: center;

    color: #000000;
}
.data{
    width: 387px;
    height: 89.92px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.data p{
    width: 352.84px;
    margin-top:17px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 35.4071px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    border-bottom: 2px solid #F67DF9;
}

.actions{
    width: 268px;
    height: 193px;
    left: 895px;
}

.actions h2{
    width: 154px;
    height: 29px;
    margin-left: 0;
    margin-top: 0;

    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 29px;
    color: #000000;
}

.history{
    height: 123px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.history a{
    width: 268px;
    text-decoration: none;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;

    color: #000000;
}

.history a:hover{
    border-bottom: 1px solid #F67DF9;
}

.password{
    position: absolute;
    width: 243.87px;
    height: 43px;
    left: 164px;
    top: 457px;
    background: #F67DF9;
    border-radius: 66px;
    text-align: center;
    text-decoration: none;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 41px;
    text-transform: uppercase;
    color: #000000;
}

label{
    color: #F67DF9;
}