.book_in_basket_list {
    width: 1203px;
    margin-left: 102px;
}

.book_in_basket {
    display: flex;
    width: 1203px;
    height: 246px;
    border: 3px solid #FCFEB2;
}


.book_in_basket img {
    margin-top: 20px;
    margin-left: 17px;
    width: 204px;
    height: 206px;
}

.title {
    position: absolute;
    width: 300px;
    height: 50px;
    margin-left: 276px;
    margin-top: 45px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: start;
    color: #000000;
    text-decoration: none;
}

.author {
    position: absolute;
    height: 50px;
    margin-left: 276px;
    margin-top: 100px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    /* identical to box height */

    text-align: start;

    color: #000000;
}

.publisher {
    height: 22px;
    margin-left: 55px;
    margin-top: 150px;

    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height */

    text-align: start;

    color: #000000;
}

.price {
    width: 162px;
    height: 66px;
    margin-left: 430px;
    margin-top: 87px;

    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    text-align: start;

    color: #000000;
}

.select_book {
    margin-top: 8px;
    margin-left: 60px;
    width: 36.25px;
    border: 3.5px solid #848484;
}

.address{
    position: absolute;
    margin-left: 400px;
    top: 165px;
    height: 41px;
    border: 1px solid #F67DF9;
    border-radius: 66px;

    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 97% */

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

h1{
    margin-left: 100px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 66px;
    text-align: start;

    color: #000000;
}

.create_order{
    position: absolute;
    left: 760px;
    top:165px;
    background: #F67DF9;
    border: 5px solid #F67DF9;
    border-radius: 66px;

    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 97% */

    text-align: center;
    text-transform: uppercase;

    color: #000000;

}

