.search{
    position: absolute;
    width: 1440px;
    height: 440.5px;
    background: url("../img/background_home.svg") no-repeat center;

}

.search__form{
    text-align: center;

    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 58px;
    /* or 230% */

    letter-spacing: 0.02em;

    border: 1px solid #F67DF9;
    border-radius: 66px;

}

.search__form{
    position: absolute;
    width: 365px;
    height: 58px;
    left: 245px;
    top: 310px;

}

.search_button{
    position: absolute;
    left: 620px;
    top: 303px;
    width: 83px;
    height: 68px;
    border: none;
    filter: none;
    background: url("../img/search.svg") no-repeat center;
}



.recommendation_list{
    position: absolute;
    margin-top: 500px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;

}