.password{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 520px;
    height: 398px;
    left: 460px;
    top: 200px;
    border: 1px solid #F67DF9;
    border-radius: 26px;
}

input{
    width: 428.5px;
    height: 29px;
    border: 0;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: black;
    margin-top:0px;
    margin-bottom:0px;
}
hr{
    border: none;
    background-color: #F67DF9;
    height: 1px;
    width: 428.5px;
    left: 506px;
    margin-top:0;
    margin-bottom:0px;
}

.update{
    width: 174px;
    height: 53px;
    margin-top: 91px;
    background: #F67DF9;
    border:#F67DF9;
    border-radius: 66px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    color: #000000;
}