<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <title>Title</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<p>Hi, admin</p>
<a href="/admin/managers/add">add new manager</a><br>
<a href="/managers">managers</a><br>
<a href="/account/password">update password</a>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>