<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<form action="/manager/book/add" method="post" th:object="${book}">
    <div th:object="${book}" th:value="${book}">
        <input th:field="*{title}" type="text" placeholder="title"><br>
        <input th:field="*{author}" type="text" placeholder="author"><br>
        <input th:field="*{price}" type="text" placeholder="price"><br>
        <select th:field="*{genre}">
            <option th:value="'roman'">roman</option>
            <option th:value="'education'">education</option>
            <option th:value="'fantastic'">fantastic</option>
            <option th:value="'historical'">historical</option>
        </select><br>
        <select th:field="*{publisher}">
            <option th:value="'АСТ'">АСТ</option>
            <option th:value="'Азбука'">Азбука</option>
        </select><br>
        <select th:field="*{bookType}">
            <option th:value="'Бумажная'">Бумажная</option>
            <option th:value="'Электронная'">Электронная</option>
        </select>
        <select th:field="*{bookCoverType}">
            <option th:value="'Твердая'">Твердая</option>
            <option th:value="'Мягкая'">Мягкая</option>
        </select><br>
        <input th:field="*{description}" type="text" placeholder="description"><br>
        <input th:field="*{freeBookExcerptURL}" type="text" placeholder="free book excerpt url"><br>
        <input th:field="*{EBookURL}" type="text" placeholder="ebook url"><br>
    </div>
    <input type="submit" value="add">
</form>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>