<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link rel="shortcut icon" href="/img/logo.svg" type="image/png">
    <title>Personal Freedom</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<form action="/manager/pick-up-points/add" method="post" th:object="${pickUpPoint}">
    <input th:field="*{address}" type="text" placeholder="address" required><br>
    <input th:field="*{startOfBusiness}" type="time" required><br>
    <input th:field="*{closeOfBusiness}" type="time" required><br>
    <select th:field="*{workSchedule}" required>
        <option th:value="'пн-вс'">пн-вс</option>
        <option th:value="'пн-пт'">пн-пт</option>
    </select><br>
    <input type="submit" value="add">
</form>
</body>
</html>