<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/add_book.css" th:href="@{/css/add_book.css}"/>
    <link rel="shortcut icon" href="/img/logo.svg" type="image/png">
    <title>Personal Freedom</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<form action="/manager/book/add" method="post" th:object="${book}" enctype="multipart/form-data" >
    <div th:object="${book}" th:value="${book}" class="form">
        <input th:field="*{title}" type="text" placeholder="Название" required>
        <input th:field="*{author}" type="text" placeholder="Автор" required>
        <input th:field="*{price}" type="text" placeholder="Цена" required>
        <select th:field="*{genre}" required>
            <option th:value="'Романы'">Романы</option>
            <option th:value="'Зарубежные'">Зарубежные</option>
            <option th:value="'Фантастика'">Фантастика</option>
            <option th:value="'Фэнтези'">Фэнтези</option>
            <option th:value="'Детективы'">Детектив</option>
            <option th:value="'Психология'">Психология</option>
            <option th:value="'Наука'">Наука</option>
            <option th:value="'История'">История</option>
            <option th:value="'Детские'">Детские</option>
        </select>
        <select th:field="*{publisher}" required>
            <option th:value="'АСТ'">АСТ</option>
            <option th:value="'Азбука'">Азбука</option>
        </select>
        <select th:field="*{bookType}" required>
            <option th:value="'Бумажная'">Бумажная</option>
            <option th:value="'Электронная'">Электронная</option>
        </select>
        <select th:field="*{bookCoverType}">
            <option th:value="'Твердая'">Твердая</option>
            <option th:value="'Мягкая'">Мягкая</option>
        </select>
        <textarea th:field="*{description}" placeholder="Описание"></textarea>
        <p>Бусплатный фрагмент <input name="_freeBookExcerptURL" type="file" accept=".pdf"></p>
        <p>Электронная книга <input name="_eBookURL" type="file" accept=".pdf"></p>
        <p>Изображения <input name="_images" type="file"  accept=".jpg, .jpeg, .png" multiple="multiple"></p>
        <input th:field="*{stockQuantity}" type="number" placeholder="Количество на складе" required>
    </div>
    <input type="submit" value="Добавить">
</form>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>