<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/book_in_catalog.css"
          th:href="@{/css/book_in_catalog.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/catalog.css" th:href="@{/css/catalog.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/search.css" th:href="@{/css/search.css}"/>
    <link rel="shortcut icon" href="/img/logo.svg" type="image/png">
    <title>Personal Freedom</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="grid-header">
    <div class="search" th:insert="blocks/common.html :: search"></div>
    <!--    <div class="sort" th:insert="blocks/common.html :: sort"></div>-->
    <div class="sort">
        <button value=""><p class="s">Сортировать &#9660</p></button>
        <div class="sort-content">
            <a href="/catalog?sort=popular">popular</a>
            <a href="/catalog?sort=priceUp">price (min)</a>
            <a href="/catalog?sort=priceDown">price (max)</a>
        </div>
    </div>
</div>
<div class="grid-container">
    <div class="menu">
        <div class="genres">
            <h3>Категории</h3>
            <div class="choice_genre">
                <a href="/catalog?genre=Зарубежные">Зарубежные</a><br>
                <a href="/catalog?genre=Детективы">Детективы</a><br>
                <a href="/catalog?genre=Психология">Психология</a><br>
                <a href="/catalog?genre=Фэнтези">Фэнтези</a><br>
                <a href="/catalog?genre=Фантастика">Фантастика</a><br>
                <a href="/catalog?genre=Романы">Романы</a><br>
                <a href="/catalog?genre=История">История</a><br>
                <a href="/catalog?genre=Наука">Наука</a><br>
                <a href="/catalog?genre=Детские">Детские</a><br>
            </div>
        </div>
        <form action="/catalog" method="post" class="filter">
            <div class="filter">
                <h3>Цена</h3>
                <div class="input_values">
                    <input type="number" name="min" placeholder="от">
                    <hr noshade>
                    <input type="number" name="max" placeholder="до">
                </div>
            </div>
            <button type="submit" class="filter_button">Применить фильтр</button>
        </form>
    </div>
    <div class="book" th:each="book : ${books}">
        <a class="book_more" th:href="'/book/' + ${book.id}">
            <img th:src="'/book_img/' + ${book.mainImgUrl()}">
            <p class="title" th:text="${book.title}"></p>
            <p class="author" th:text="${book.author}"></p>
            <p class="publisher" th:text="${book.publisher}"></p>
            <p class="price" th:text="${book.price} + 'руб.'" ></p><br>
        </a>
    </div>
</div>
<footer th:insert="blocks/footer.html :: footer"></footer>
</body>
</html>