<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/discounts.css" th:href="@{/css/discounts.css}"/>
    <link rel="shortcut icon" href="/img/logo.svg" type="image/png">
    <title>Personal Freedom</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="list">
    <div class="discount" th:each="discount : ${discounts}">
        <p class="title" th:text="${discount.title}"></p>
        <p class="description" th:text="${discount.description}"></p>
        <p class="period" th:text="'Прововодится с ' + ${discount.startDate} + ' по ' + ${discount.endDate}"></p>
    </div>
</div>
</body>
</html>