<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link rel="shortcut icon" href="/img/logo.svg" type="image/png">
    <link rel="shortcut icon" href="/img/logo.svg" type="image/png">
    <title>Personal Freedom</title>
    <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<p>Hi, admin</p>
<a href="/admin/managers/add">Добавить</a><br>
<table>
    <tr>
        <th>№</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>email</th>
        <th>Номер телефона</th>
        <th></th>
    </tr>
    <div th:each="manager : ${managers}">
        <tr>
            <form th:action="'/managers/' + ${manager.id} + '/delete'" method="post">
                <th th:text="${manager.id}"></th>
                <th th:text="${manager.firstName}"></th>
                <th th:text="${manager.lastName}"></th>
                <th th:text="${manager.username}"></th>
                <th th:text="${manager.phone}"></th>
                <th><input type="submit" value="delete" onclick="return deleletconfig()"></th>
            </form>
        </tr>
    </div>
</table>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>