<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <title>Manager Registration</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<form action="/admin/managers/add" method="post">
    <input name="firstName" placeholder="first name"><br>
    <input name="lastName" placeholder="last name"><br>
    <input name = "email" placeholder="email"><br>
    <input name="phone" placeholder="phone"><br>
    <button type="submit">ГОТОВО!</button>
</form>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>