<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="order : ${orders}">
    <p th:text="${order.orderDate}"></p>
    <p th:text="'status: ' + ${order.status}"></p>
    <p th:text="'payment: ' + ${order.paymentMethod}"></p>
    <p th:text="'shipping: ' + ${order.shippingMethod}"></p>
    <p th:text="'address: ' + ${order.address}"></p>
    <div th:each="book : ${order.booksInOrder}">
        <p th:text="${book.title}"></p>
    </div>
</div>
</body>
</html>