<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<form action="/account/password" method="post">
    <input name="oldPassword" type="password" placeholder="old password"><br>
    <input name="newPassword" type="password" placeholder="new password"><br>
    <input type="submit" value="update">
</form>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>