<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/password_page.css" th:href="@{/css/password_page.css}"/>
    <link rel="shortcut icon" href="/img/logo.svg" type="image/png">
    <title>Personal Freedom</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<p th:text="${error}"></p>
<form action="/account/password" method="post" class="password">
    <input name="oldPassword" type="password" placeholder="Старый пароль"><hr><br>
    <input name="newPassword" type="password" placeholder="Новый пароль"><hr><br>
    <input class="update" type="submit" value="Изменить">
</form>
</body>
</html>