<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <title>Title</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<a href="/manager/pick-up-points/add">Добавить адрес самовывоза</a>
<p>Адреса самовывоза</p>
<div th:each="pickUpPoint : ${pickUpPoints}">
    <a th:href="'/manager/pick-up-points/' + ${pickUpPoint.id}" th:text="${pickUpPoint.address}"></a>
</div>
</body>
</html>