<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <title>Title</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<object>
    <embed src="/readPart/1._100_ways_to_motivate_yourself.pdf" width="400px" height="400px" />
</object>
</body>
</html>