<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/registration.css"
          th:href="@{/css/registration.css}"/>
    <link rel="shortcut icon" href="/img/logo.svg" type="image/png">
    <title>Personal Freedom</title>
</head>
<body>
<p th:text="${error}"></p>
<div class="wrapper">
    <a href="/home">Главная страница</a><br>
    <main class="main">
        <div class="registration_block">
            <h1>Регистрация</h1>
            <form action="/registration" method="post">
                <input name="firstName" placeholder="Имя">
                <hr>
                <br>
                <input name="lastName" placeholder="Фамилия">
                <hr>
                <br>
                <input type="email" name="email" placeholder="email" required>
                <hr>
                <br>
                <input name="phone" placeholder="Номер телефона">
                <hr>
                <br>
                <input name="password" type="password" placeholder="Пароль">
                <hr>
                <br>
                <input name="confirmPassword" type="password" placeholder="Подтверждение пароля">
                <hr>
                <br>
                <button type="submit">ГОТОВО!</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>