<div th:fragment="search">
    <form action="/catalog" method="get">
        <input class="search__form" type="search" name="query" placeholder="Что вы ищите?">
        <input type="submit" value="" class="search_button">
    </form>
</div>

<div th:fragment="sort" class="dropdown">
    <form action="/catalog" method="get">
        <select name="sort">
            <option>sort</option>
            <option value="popular">popular</option>
            <option value="priceUp">price (min)</option>
            <option value="priceDown">price (max)</option>
        </select>
        <input type="submit" value="sort">
    </form>
</div>
<div th:fragment="filter">
    <form action="/catalog" method="get">

    </form>
</div>